<tr><br/></tr>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                <mat-card-title>Classes</mat-card-title>
                <mat-card-subtitle>Suas Classes!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Classe 1</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
                <br/>
                <mat-card class="internal-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Turma 2</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button>Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>quiz</mat-icon></div>
                <mat-card-title>Provas</mat-card-title>
                <mat-card-subtitle>Suas Provas!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card" routerLink="/take-exam" style="cursor: pointer;">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Prova 1</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Data de Entrega: dd/MM/yyyy
                        </p>
                    </mat-card-content>
                </mat-card>
                <br/>
                <mat-card class="internal-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Prova 2</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Data de Entrega: dd/MM/yyyy
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button>Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column"></div>
</div>
<tr><br/></tr>
<div class="row">
    <div class="column"></div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>history_edu</mat-icon></div>
                <mat-card-title>Tarefas</mat-card-title>
                <mat-card-subtitle>Suas Tarefas!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Tarefa 1</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Data de Entrega: dd/MM/yyyy
                        </p>
                    </mat-card-content>
                </mat-card>
                <br/>
                <mat-card class="internal-card">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Tarefa 2</mat-card-title>
                        <mat-card-subtitle>Matéria</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            Data de Entrega: dd/MM/yyyy
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button>Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="card_header_avatar"><mat-icon>account_circle</mat-icon></div>
                <mat-card-title>Perfil</mat-card-title>
                <mat-card-subtitle>Seu Perfil!</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="internal-card-profile">
                    <mat-card-header>
                        <div mat-card-avatar class="card_header_avatar"><mat-icon>school</mat-icon></div>
                        <mat-card-title>Meu Perfil</mat-card-title>
                        <mat-card-subtitle>Nome</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <b>Progresso</b> 
                            <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                            <br/>
                            <b>Nome:</b> 
                            <br/>
                            <b>Idade:</b> 
                            <br/>
                            <b>Curso:</b> 
                        </div> 
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button>Acessar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="column"></div>
</div>
<tr><br/></tr>